<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>dashboard</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="main-page">
    <table class="dsh-table">
        <tr>
            <th>name</th>
            <th>state</th>
            <th>cpu</th>
            <th>memory</th>
            <th>last change</th>
            <th>operations</th>
        </tr>
        {% for vm in vms_info %}
            <tr>
                <td>{{ vm['name'] }}</td>
                <td>{{ vm['state'] }}</td>
                <td>{{ vm['cpu'] }}</td>
                <td>{{ vm['memory'] }}</td>
                <td>{{ vm['state_since'] }}</td>
                <td>
                    {% if vm['state']!='running' %}
                        <a href="/start/{{ vm['name'] }}">start</a>
                    {% else %}
                        <a href="/power-off/{{ vm['name'] }}">power-off</a>
                    {% endif %}
                    <a href="/change-ram/{{ vm['name'] }}">edit-ram</a>
                    <a href="/change-cpu/{{ vm['name'] }}">edit-cpu</a>
                    <a href="/delete/{{ vm['name'] }}">delete</a>
                    <a href="/clone/{{ vm['name'] }}">clone</a>
                    <a href="/ssh/{{ vm['name'] }}">command</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <button onClick="window.location.reload();">Refresh</button>
</div>
</body>
</html>