<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>change ssh</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/ssh.css">
</head>
<body>
<form action="/ssh/" method="post" enctype="application/x-www-form-urlencoded">
    <div id="full-wrapper">
        <div id="center-wrapper">
            <div class="ssh-field">
                <p class="ssh-field-label">command:</p>
                <input type="text" name="command" value="" class="ssh-field-input">
            </div>
            <input type="hidden" name="vm-name" value="{{ vm_name }}">
            <div id="ssh-submit-wrapper">
                <button id="ssh-submit-btn" class="btn">Send</button>
                <button onclick="location.href='/';" type="button" id="ssh-cancel-btn" class="btn">
                    Cancel
                </button>
            </div>
            {% for message in messages %}
                <p style="color: red">{{ message }}</p>
            {% endfor %}
        </div>
    </div>
</form>

</body>
</html>